
.host_name{
  float: left;
  width: 30%;
}

.host_percent{
  float: left;
  width: 10%;
}

.host_diagram{
  float: left;
  background-color: blue;
}

.host {
  clear: both;
  border-bottom: 1px solid #909090;
}